* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat regular';
}
a {
    text-decoration: none;
    color: rgb(90, 93, 121);
}
html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(231, 235, 253);
    color: rgb(90, 93, 121);
}
header {
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #0091dc;
    font-size: 35px;
    position: sticky;
    top: 0;
    z-index: 99;
    border-bottom: solid 3px #0091dc;
}
.account {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.account:hover {
    cursor: pointer;
    color: #0091dc;
    transition: 0.2s;
    background-color: #0091dc20;

}
main {
    display: flex;
    gap: 15px;
    padding-right: 15px;
    min-height: 100%;
}
.left-side {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    background-color: #fff;
    position: relative;
    height: calc( 100vh - 70px );
    position: sticky;
    top: 70px;
}
.left-side h1 {
    color: #0091dc;
    padding: 10px;
    border-bottom: solid;
    width: 80%;
}
.left-side h1:hover {
    width: 100%;
    transition: 0.4s;
    cursor: pointer;

}
.left-side li {
    padding: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 21px;
    border-radius: 5px;
    gap: 15px;
}
.left-side li:hover {
    color: #0091dc;
    cursor: pointer;
    transition: 0.1s;
    background-color: #0091dc20;
}
.category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.divi {
    position: absolute;
    background-color: rgb(231, 235, 253);
    top: 50%;
    right: -15px;
    width: 30px;
    height: 50px;
    border-radius: 10%;
    cursor: pointer;
    box-sizing: content-box;
}
.divi p {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    margin-top: 14px;
    margin-left: -7px;
    color: white;
    background-color: #0091dc ;
    border-radius: 10%;
}
.main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 100% , 1fr));
    gap: 15px;
    margin-top: 15px;
}
.card {
    background-color: #fff;
    flex-grow: 1;
    border-radius: 5.5px;
    box-shadow: #00000020 0 0 8px -1px;
    min-width: 350px;
    min-height: 200px;
    padding: 15px;
}
.full {
    min-width: 100% !important;
}
.half {
    max-width: 40% !important;
}
.small {
    max-width: 25% !important;
}
.des {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    word-wrap: break-word;
}
.fixed {
    max-width: 33% !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
.card-inv {
    background-color: transparent;
    flex-grow: 1;
    width: 100%;
}
.logo-top {
    width: 80px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#list-icon {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 30px;
    color: #0091dc;
    cursor: pointer;
    display: none;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.tags span {
    background-color: #0091dc30;
    padding: 5px;
    border-radius: 5px;
    color: #0091dc;
}
.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0091dc;
    gap: 10px;
    font-size: 25px;
    margin-left: 25px;
    flex-grow: 1;
    min-width: 500px;
}
.search {
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    outline: none;
    padding: 10px;
    color: #0091dc;
    font-size: 18px;
    border-bottom: #0091dc 2px solid;
    flex-grow: 1;
}
.search::placeholder {
    color: #ffffffcc;
}
.subs {
    margin: 5px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.subs:hover {
    cursor: pointer;
    background-color: #0091dc20;
    color: #0091dc;
}
.card-2 {
    background-color: transparent;
    display: flex;
    gap: 15px;
    width: 100%;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #0091dc;
    background-color: #fff;
    flex-grow: 1;
    height: 60px;

}
.flex-info {
    display: flex;
    font-size: 48px;
    align-items: center;
    justify-content: space-evenly;
}
.success {
    color: #00dc54;
}
.danger {
    color: #ff0000;
}
.information {
    color: #0091dc;
}
.current {
    color: #0091dc;
    cursor: pointer;
    transition: 0.1s;
    background-color: #0091dc20;
}
.account-down {
    position: absolute;
    top: 70px;
    right: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #00000020 0 0 8px -1px;
    display: flex;
    flex-direction: column;
    display: none;
}
.account-all {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.mail {
    font-size: 15px;
}
.username {
    font-size: 18px;
}
.account-btn {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.account-btn:hover {
    cursor: pointer;
    background-color: #0091dc20;
    color: #0091dc;
}
.big {
    height: fit-content;
    max-width: 100%;
}
.back {
    background-color: #0091dc;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-card {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.status {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    justify-content: space-evenly;
    flex-grow: 1;
}
.stat {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #0091dc;
}
.wiki-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #0091dc;
    flex-grow: 1;
    justify-content: space-evenly;
    position: relative;
}
.label-title {
    flex-grow: 1;
    width: 80%;
}
.wiki-inp {
    width: 100%;
    height: 55px;
    border: solid rgb(145, 145, 145) 1.5px;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    color: rgb(90, 93, 121);
    font-size: 25px;
    margin-bottom: 15px;
}
.wiki-text {
    width: 100%;
}
#ex {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#wikiModal {
    display: none;
}
.select-tags- {
    height: 70px;
}
.selects {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #0091dc;
    flex-grow: 1;
    justify-content: space-evenly;
    position: relative;
    padding-top: 40px;
}
.selects label {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.image-wiki {
    background-color: #0091dc;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.body-article {
    padding: 7px;
    margin-top: 15px;
    text-indent: 15px;
    max-width: 100%;
    line-height: 1.8;
}
.body-article p {
    word-wrap: break-word;
}
.body-article img {
    margin: 15px;
}
.words-count {
    background-color: #10ff842d !important;
    color: #00ae0f !important;
}
.date-wiki {
    background-color: #c310ff2d !important;
    color: #c310ff !important;
}
.category-wiki {
    background-color: #ff10102d !important;
    color: #ff1010 !important;
}
#modelSuccess {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5000px 500px #00000020;
}
.close {
    background-color: #0091dc;
    color: #fff;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.model-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 100%;
}
.wiki-text {
    height: 250px;
    width: 100%;
    min-width: 500px;
    padding: 15px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    border: solid rgb(90, 93, 121) 1.5px;
}
.wiki-form {
    width: 100%;
    flex-grow: 1;
}
.edit-btn {
    background-color: #0091dc;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    padding: 5px;
}
.edit-btn:hover {
    background-color: #0078b4;
    cursor: pointer;
}
.delete-btn {
    background-color: #ff0000;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    padding: 5px;
}
.delete-btn:hover {
    background-color: #dc0000;
    cursor: pointer;
}
.card-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    padding-top: 15px;
    gap: 10px;
}
.account-options {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.slim {
    height: fit-content !important;
    min-height: unset;
}
#editAcc {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    width: 60%;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: scroll;
    min-width: 300px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 5000px 500px #00000020;
    padding: 15px;
    padding-inline: 25px;
    display: none;
    z-index: 99;
}
#editAcc::-webkit-scrollbar {
    width: 10px;
}
#editAcc::-webkit-scrollbar-thumb {
    background-color: #0091dc;
    border-radius: 50px;
}
#editAcc form {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
#editAcc form label {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#editAcc .moved {
    width: 100%;
    margin-bottom: 5px;
}
.inp-acc {
    flex-grow: 1;
    height: 40px;
    outline: none;
    border: solid 1.5px rgb(90, 93, 121);
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
}
.acc-btns {
    display: flex;
    gap: 20px;
    padding: 15px;
    justify-content: end;
    width: 100%;
}
.back:hover {
    background-color: #0078b4;
}
.acc-danger {
    display: flex;
    gap: 20px;
    padding: 15px;
    justify-content: space-evenly;
    width: 100%;
}
.danger {
    background-color: #ff0000;
    color: #fff;
}
.danger:hover {
    background-color: #dc0000;
}
.success {
    display: flex;
    align-items: center;
    justify-content: center;
}
.danger-zone {
    flex-grow: 1;
    border: solid 1.5px rgb(90, 93, 121);
    border-radius: 5px;
}
.password-zone {
    flex-grow: 1;
    border: solid 1.5px rgb(90, 93, 121);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
legend {
    margin-left: 15px;
    padding: 15px;
}
.columns {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 15px;
}
#deleteModal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    position: fixed;
    gap: 15px;
    box-shadow: 0 0 5000px 500px #00000020;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    height: 200px;
    width: 400px;
    display: none;
    z-index: 999;
}
#infoModal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    position: fixed;
    gap: 15px;
    box-shadow: 0 0 5000px 500px #00000020;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    height: 200px;
    width: 400px;
    display: none;
    z-index: 999;
}
#deleteAccount {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    position: fixed;
    gap: 15px;
    box-shadow: 0 0 5000px 500px #00000020;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    height: 200px;
    width: 400px;
    display: none; 
    z-index: 999;
}
#deleteWikis {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    position: fixed;
    gap: 15px;
    box-shadow: 0 0 5000px 500px #00000020;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    height: 200px;
    width: 400px;
    display: none;
    z-index: 999;
}
.delete-btns {
    display: flex;
    gap: 15px;
    justify-content: end;
}
.delete-btns button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.wrap {
    flex-wrap: wrap;
}
.wrap .fixed {
    width: 32%;
}
#searchDrop {
    position: absolute;
    top: 60px;
    left: 240px;
    background-color:  #fff;
    border-radius: 5px;
    box-shadow: #00000020 0 0 8px -1px;
    min-height: 100px;
    width: 550px;
    display: flex;
    flex-direction: column;
    display: none;
    max-height: 80vh;
    overflow-y: scroll;
}
#searchDrop::-webkit-scrollbar {
    width: 7px;

}
#searchDrop::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0091dc;
}
.result {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 15px;
}

.title-img {
    border-radius: 50%;
    background-color: #0091dc;
    color: #fff;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
}
.title-result {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    flex-grow: 1;
    align-items: start;
    justify-content: flex-start;
}
.category-result {
    font-size: 15px;
}
.result .tags {
    font-size: 15px;
}
#search::placeholder {
    color: #0091dc;
}
#searchTags::placeholder {
    color: #0091dc;
}
.result:hover {
    background-color: #f7f7f7;
}
.span-tag {
    background-color: #0091dc30;
    padding: 5px;
    border-radius: 5px;
    color: #0091dc;
}
.tags-table {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.table-btn {
    background-color: transparent;
    color: #000000;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.table-btn:hover {
    background-color: #dc000020;
    color: #dc0000;
}
.justify {
    justify-content: space-evenly;
}
#editModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5000px 500px #00000020;
    padding: 15px;
    padding-inline: 25px;
    z-index: 99;
    display: none;
}
#tagModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5000px 500px #00000020;
    padding: 15px;
    padding-inline: 25px;
    z-index: 99;
    display: none;
}
#addModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5000px 500px #00000020;
    padding: 15px;
    padding-inline: 25px;
    z-index: 99;
    display: none;
}
#addTagModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5000px 500px #00000020;
    padding: 15px;
    padding-inline: 25px;
    z-index: 99;
    display: none;
}
.cat-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #0091dc;
    flex-grow: 1;
    justify-content: space-evenly;
    position: relative;
}
.help {
    background-color: #dcd500 !important;
    color: #fff !important;
}
.tag-test {
    background-color: #0091dc30;
    padding: 5px;
    border-radius: 5px;
    color: #0091dc;
    cursor: pointer;
}
.tag-test:hover {
    background-color: #0091dc50;
}
.tags-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.styled {
    position: absolute;
    top: -8px;
    left: 15px;
    font-size: 48px;
}
.big-link:hover {
    color: #0091dc;
    text-decoration: underline;
    
}
.error-text {
    color: #ff0000;
    font-size: 15px;
}
.info-acc {
    font-size: 19px;
    background-color: rgb(90, 93, 121);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
}
.account-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: #00000020 0 0 8px -1px;
    background-color: #fff;
}
.no-results {
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(90, 93, 121);
}
.no-results i {
    font-size: 68px;
}
.error-message {
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    border: 1px solid #ff0000;
    font-family: Arial, sans-serif;
}
.error-modal {
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 5000px 500px #00000020;
}
.error-head {
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.error-main {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
}
.close {
    background-color: rgb(145, 145, 145);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.close:hover {
    background-color: rgb(90, 93, 121);

}
.error-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    gap: 15px;
}
button:disabled {
    cursor: not-allowed;
    filter: grayscale();
}